<html>
    <head>
        <link rel="stylesheet" href="./css/Login.css">
        </head>
        <body>
 <form action="/Login" method="post">
<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Hello There!</div>
      <div class='subtitle'>Let's quickly Sign you In!</div>
      <div class='input-fields'>
        <label for="name">Username:</label>
        <input type='text' id="username" name="username" value="" class='input-line full-width'></input>
        
        <label for="name">Password:</label>
        <input type='password' id="password" name="password" value="" class='input-line full-width'></input>

      </div>
      
      <div><button class='ghost-round full-width' type="submit">SIGN IN</button></div>
      </form>
      </body>
    </div>
  </div>
</div>

</html>