<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    
	 <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans|Nova+Mono|Roboto+Condensed" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Parisienne&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="./css/Register.css">
 </head>
 <body>
	
	<div class="content">
	<section>
		<div class="register-wrapper">
		<div class="register-block">
		<h3 class="register-title">Hello There!</h3>
			<p>Let's set up your Account</p>
			<form action="/Register" method="post">


			<label for="name">Firstname:</label>
			<input type="firstname"  name="firstname" value=""/>


			<label for="name">Lastname:</label>
				<input type="lastname"  name="lastname" value=""/>


				<label for="name">Username:</label>
      	<input type="username"  name="username" value=""/>


		<label for="name">Password:</label>
    	<input type="password"  name="password" value=""/>

		
			<input type="submit" value="Create my account"/>
			</form>
		</div>
		</div>
	</section>
</div>

</body>
</html>